@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

@import '../custom';

.channel-tuner-accordion {
  .card {
    background-color: $color-channel-blue;
    border: 0 none;
    margin-bottom: 20px;

    .card-header {
      border: 0 none;
      font-family: $headings-font-family;
      padding: 0;
    }

    .btn {
      color: $black;
      display: block;
      font-size: 40px;
      width: 100%;
    }

    .collapse {
      background-color: $color-channel-blue-selected;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .card-body {
      color: $black;
      padding: 30px;
    }
  }
}
