@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

@import '../custom';

.channel-tuner-accordion {
  margin-bottom: 10px;

  .card {
    background-color: $color-channel-blue;
    border-radius: $border-radius;
    border: 0 none;
    margin-bottom: 5px;

    &.active {
      background-color: $color-channel-blue-selected;
    }

    .card-header {
      background-color: transparent;
      border: 0 none;
      font-family: $headings-font-family;
      padding: 0;
    }

    .btn {
      color: $black;
      display: block;
      font-family: inherit;
      font-size: 36px;
      width: 100%;
    }

    .card-body {
      color: $black;
      font-size: 18px;
      height: 250px;
      line-height: 21px;
      overflow-y: scroll;
      padding: 20px;
    }
  }
}
