@import "../custom";

.marquee {
  background: $blue;
  color: $white;

  width: 100%;
  height: $font-size-base*1.2;

  margin: $spacer 0 $spacer 0;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}