@import '../custom';

.video-count-tuner {
   /* Cross browser compatible input range styles - https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
  input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    height: 30px;
    margin: 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  /* Slider handle */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $color-white;
    border: 0 none;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  input[type=range]::-moz-range-thumb {
    background-color: $color-white;
    border: 0 none;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  input[type=range]::-ms-thumb {
    background-color: $color-white;
    border: 0 none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  /* Slider track */
  input[type=range]::-webkit-slider-runnable-track {
    background-color: $color-dark-purple;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    height: 30px;
  }

  input[type=range]::-moz-range-track {
    background-color: $color-dark-purple;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    height: 30px;
  }

  input[type=range]::-ms-track {
    background-color: $color-dark-purple;
    border-color: transparent;
    border-radius: $border-radius;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2) inset;
    color: transparent;
    cursor: pointer;
    height: 30px;
    width: calc(100% - 10px);
  }

  input[type=range]::-ms-fill-upper {
    background: transparent;
    border-radius: 0 15px 15px 0;
  }
}
